.nav-button {

    padding: 8px 8px;
    margin: 0px 0px 10px 0px;
    width: 100px;
    border: 1px solid transparent;
    background-color: #070322;
    color: white;
    border-radius: 2px;
    font-family: 'Rubik', 'Arial', sans-serif;
    outline: none;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button:disabled {
    background-color: #545760;
    cursor: not-allowed;
}

.nav-button + .nav-button {
    margin-left: 8px;
}