.parent {
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
}

.necklace-image {
    position: relative;
    width: 50vw;
    height: auto;
    /*border: 1px solid green;*/
}

.paintings-overview {
    width: 20vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: radial-gradient(circle, rgba(125,126,125,1) 0%, rgba(7,3,34,1) 100%);
}

.paintings-overview div {
    margin-bottom: 1em;
}

.paintings-overview div:first-child {
    margin-top: 1em;
}
.painting-image {
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    /*border: 1px solid red;*/
}

.box {
    position: absolute;
    border-radius: 50%;
    width: 14%;
    height: 14%;
    /*border: 1px solid deepskyblue;*/
}

#box0 {
    bottom: 54.5%;
    left: 15.5%;
}

#box1 {
    bottom: 33%;
    left: 23.5%;
}

#box2 {
    bottom: 19%;
    left: 41.6%;
}

#box3 {
    bottom: 33%;
    left: 60.5%;
}

#box4 {
    bottom: 54%;
    left: 67.5%;
}

.opacity-dragging {
    opacity: 0.5;
}