.parent {
    position: relative;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    height: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    /*border: 1px solid pink;*/
}

.necklace-image {
    height: 100%;
    width: 80%;
    /*border: 1px solid green;*/
}

.paintings-overview {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    background: radial-gradient(circle, rgba(125,126,125,1) 0%, rgba(7,3,34,1) 100%);
}

.painting {
    /*padding: 10px 0px;*/
    width: 140px;
    height: 140px;
    /*border: 1px solid mediumpurple;*/


}

.painting-image {
    border-radius: 50%;
    width: 138px;
    height: 138px;
    object-fit: cover;
    padding:5px;
    /*border: 1px solid red;*/
}

.box {
    position: absolute;
    border-radius: 50%;
    width: 138px;
    height: 138px;
    /*border: 1px solid deepskyblue;*/
}

#box0 {
    bottom: 541px;
    left: 373px;
}

#box1 {
    bottom: 327px;
    left: 447px;
}

#box2 {
    bottom: 183px;
    left: 616px;
}

#box3 {
    bottom: 328px;
    left: 794px;
}

#box4 {
    bottom: 537px;
    left: 854px;
}

.opacity-dragging {
    opacity: 0.5;
}
