.parent {
    height: 50vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    position: relative;
}

.necklace {
    position: relative;
    width: 50vw;
    height: auto;
}

.paintings-overview {
    width: 20vw;
    height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: radial-gradient(circle, rgba(125, 126, 125, 1) 0%, rgba(7, 3, 34, 1) 100%);
}

.paintings-overview div {
    margin-bottom: 1em;
}

.painting-image {
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
}

.dropBox {
    position: absolute;
    border-radius: 50%;
    width: 14%;
    height: 14%;
    /*border: 1px solid deepskyblue;*/
}

#dropBox0 {
    bottom: 54.5%;
    left: 15.5%;
}

#dropBox1 {
    bottom: 33%;
    left: 23.5%;
}

#dropBox2 {
    bottom: 18%;
    left: 41.6%;
}

#dropBox3 {
    bottom: 33%;
    left: 60.5%;
}

#dropBox4 {
    bottom: 54%;
    left: 67.5%;
}

@media only screen and (max-width: 768px) {
    .parent {
        height: 80vw;
    }

    .necklace {
        width: 80vw;
        height: auto;
    }

    .paintings-overview {
        width: 20vw;
        height: 80vw;
    }

    .painting-image {
        border-radius: 50%;
        width: 11vw;
        height: 11vw;
    }
}

.loading-message {
    position: absolute;
    top: 30%;
    left: 60%;
    font-family: 'Rubik', 'Arial', sans-serif;
    transform: translate(-50%, -50%);
    background-color: #e74c3c;
    padding: 5em;
    border-radius: 5px;
    z-index: 1;
}
