.hamburger {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: space-around;
    flex-flow: column nowrap;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: #FFFFFF;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.burger-top {
    transform: rotate(45deg);
}

.burger-center {
    transform: translateX(100%);
    opacity: 0;
}

.burger-bottom {
    transform: rotate(-45deg);
}

