.navigation-container {
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.navigation-closed {
    display: none;
}

.navigation-link {
    color: #FFFFFF;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.hamburger-container {
    margin: 0.5em;
}