.navigation-container {
    display: flex;
    align-items: center;
}

.hamburger-container {
    margin: 3vw;
    position: fixed;
    left: 0;
    z-index: 2;
}

.navigation {
    overflow: visible;
    display: flex;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    padding: 8% 0 0 12%;
    list-style: none;
    background-color: #616168;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url("src/assets/bigman.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: left;
}

.navigation li:nth-child(3) {
    padding-bottom: 0.8em;
}

    @media only screen and (max-width: 768px) {
        .navigation {
            background-image: none;
        }
    }

.navigation-closed {
    display: none;
}

.navigation-link {
    display: flex;
    color: #FFFFFF;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}
