.navigation-container {
margin: 10px;
}

.navigation {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: lightgray;
    border-radius: 5px;
    width: 100vh;
    position: absolute;
    z-index: 1;
}

ul.navigation {
    margin: 10px;
    height: 30%;
}

li.navigation {
    display: flex;
    padding-left: 2em;
}

.navigation-closed {
    display: none;
}

.navigation-link {
    display: flex;
    color: #FFFFFF;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 25px;
    cursor: pointer;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.hamburger-container {
    margin: 0.5em;
}