.form-input-field {
    width: 100%;
    margin: 0.5em 0 1em 0;
    height: 35px;
    /*border: 1px solid var(--main-background-color-dark);*/
    /*background-color: yellow;*/
    border-radius: 10px;
    /*margin-top: 0.5em;*/
    padding-left: 10px;

}