#header {
    display: flex;
    width: 100vw;
}

.header-container {
    height: calc(100vw * .15);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: calc(50px + 6vw);
    letter-spacing: 1vw;
}

.header-icon img {
    width: 1em;
    margin-left: 5vw;
}

.header-text a {
    font-family: 'EB Garamond', serif;
    color: var(--text-color);
    text-decoration: none;
}

.header-text a:hover {
        color: var(--text-color);
}

@media only screen and (max-width: 768px) {
    .header-icon img {
        display: none;
    }
}

.header-icon {
    font-size: calc(50px + 6vw);

    position: relative;
    display: inline-block;
}

.tooltip {
    display: none;
    background-color: var(--text-color);
    color: var(--background-dark);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 0%;
    transform: translateX(-50%);
    border: 1px solid var(--background-dark);
    width: 25vw;
    font-size: 14px;
}

.header-icon:hover .tooltip {
    display: block;
}
