#header {
    display: flex;
    width: 100vw;
}

.header-container {
    height: calc(100vw * .15);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10vw;
    letter-spacing: 1vw;
}

.header-icon img {
    width: 1em;
    margin-left: 5vw;
}

.header-text a {
    color: white;
    text-decoration: none;
}