#header {
    display: flex;
}
.header-container {
    width: 100%;
    min-height: 3em;
    max-height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 120px;
}

.header-icon img {
width: 250px;
}

