#hamburger-button {
    padding: 0; /* Override button padding */
    margin-bottom: 0; /* Override button margin */
    width: auto; /* Override button width */
    background-color: transparent; /* Override button background */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1.5rem;
    position: relative;
    z-index: 3;
    border: none;
    cursor: pointer;
}

#hamburger-button .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: var(--gray-light);
    transform-origin: 1px;
    transition: all 0.3s linear;
}

#hamburger-button .burger-top {
    margin-bottom: 0.25rem;
    transform: rotate(45deg);
}

#hamburger-button .burger-center {
    margin: 0.25rem 0;
    transform: translateX(100%);
    opacity: 0;
}

#hamburger-button .burger-bottom {
    transform: rotate(-45deg);
}
