.content-block {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    background: linear-gradient(234deg, rgba(0, 0, 0, 1) 0%, rgba(218, 138, 54, 1) 35%, rgba(7, 3, 34, 1) 100%);
}

.content-block:nth-child(odd) {
    flex-direction: row-reverse;
    margin-top: 10vh;
}

.text-container {
    margin: 4vw;
}

.text-container > * {
    margin-bottom: 1.5vh;
}

.media-container {
    margin: 0 2vw;
}

.media-container >video {
    margin: 2vw;
}

@media only screen and (max-width: 768px) {
    .media-container {
        display: none;
    }
}