@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


:root {
    /*font-family: ;*/
    --text-color: #E6E6EA;
    --background-light: #616168;
    --background-dark: #070322;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    color: #E6E6EA;
    background-color: #070322;
}



