/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');*/

:root {
    --necklace-height: 175px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    color: #FFFFFF;
    background-color: #070322;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.container {
    display: flex;
    /*border: 10px solid pink;*/
    height: 1100px; /* Stel een vaste hoogte in voor de container */
}

.paintings-overview {
    display: flex;
    flex-direction: column;
    /*border: 10px solid gold;*/
    justify-content: center; /* Center de afbeeldingen horizontaal */
    overflow-y: auto; /* Voeg een overflow-y toe om te scrollen als de inhoud groter is dan de container */
    min-width: 150px; /* Stel een minimale hoogte in voor .paintings-overview */
}

.painting-image {
    margin: 10px;
    /*border: 10px solid red;*/
    border-radius: 50%;
    height: var(--necklace-height); /* Gebruik de hoogte van de ketting als basis */
    flex-shrink: 0; /* Voorkom dat afbeeldingen kleiner worden gemaakt als ze niet in de container passen */
}

.box {
    /*width: 150px;*/
    /*height: 150px;*/
    border-radius: 50%;
}

#box1 {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: 621px;
    left: 295px;
    /*border: 1px solid deepskyblue;*/
}

#box2 {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: 447px;
    left: 425px;
    /*border: 1px solid mediumpurple;*/
}

#box3 {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: 307px;
    left: 663px;
    border: 1px solid ivory;
}

#box4 {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: 460px;
    left: 877px;
    /*border: 10px solid orange;*/
}

#box5 {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: 612px;
    left: 976px;
    /*border: 10px solid darkseagreen;*/
}

.necklace-image {
    max-height: 100%;
    width: auto;
    /*border: 10px solid green;*/
}

.opacity-dragging {
    opacity: 0.5; /* Verminder de dekking van de elementen tijdens het slepen */
}



