@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-light) var(--blue-dark);
}

/* ----------------------------------- 1.2 Colors ------------------------------------ */

:root {
    color-scheme: light dark;

    --gray-light: #E6E6EA;
    --warning-color: #e74c3c;
    --gray-dark: #616168;
    --blue-dark: #070322;

    --box-shadow-dark: 0 2.8px 2.2px rgba(20, 10, 92, 0.034),
    0 6.7px 5.3px rgba(20, 10, 92, 0.048),
    0 12.5px 10px rgba(20, 10, 92, 0.06),
    0 22.3px 17.9px rgba(20, 10, 92, 0.072),
    0 41.8px 33.4px rgba(20, 10, 92, 0.086),
    0 100px 80px rgba(20, 10, 92, 0.12);
}

body {
    color: var(--gray-light);
    background-color: var(--blue-dark);
}

/* ------------------------------- 2. Typography ----------------------------------- */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
    color: var(--blue-dark);
}

/* ------------------------------- 3. Layout --------------------------------------- */

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

.form-input-field {
    width: 100%;
    margin: 0.5em 0 1em 0;
    height: 2.5em;
    border-radius: 10px;
    padding-left: 1em;
}

.error {
    background-color: var(--warning-color);
    margin: 1em 0;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*---------Media-queries----------*/

@media only screen and (max-width: 768px) {
    .img {
        display: none;
    }
}

