/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border-radius: 10px;*/
}

/* ----------------------------------- 1.2 Colors ------------------------------------ */

:root {
    color-scheme: light dark;

    --text-color: #E6E6EA;
    --warning-color: #e74c3c;
    --background-light: #616168;
    --background-dark: #070322;
    --box-shadow-dark:
            0 2.8px 2.2px rgba(20, 10, 92, 0.034),
            0 6.7px 5.3px rgba(20, 10, 92, 0.048),
            0 12.5px 10px rgba(20, 10, 92, 0.06),
            0 22.3px 17.9px rgba(20, 10, 92, 0.072),
            0 41.8px 33.4px rgba(20, 10, 92, 0.086),
            0 100px 80px rgba(20, 10, 92, 0.12);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-dark);
}

/* ------------------------------- 2. Typography ----------------------------------- */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Rubik', 'Arial', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

/* ------------------------------- 3. Layout --------------------------------------- */

body {
    /*margin: 0;*/
    /*display: flex;*/
    /*place-items: center;*/
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
}

h1 {
    /*font-size: 3.2em;*/
    /*line-height: 1.1;*/
}

.form-input-field {
    width: 100%;
    margin: 0.5em 0 1em 0;
    height: 2.5em;
    border-radius: 10px;
    padding-left: 1em;
}

button {
    border-radius: 10px;
    border: 1px solid transparent;
}

button:hover {
    /*border-color: #646cff;*/
}
button:focus,
button:focus-visible {
    /*outline: 4px auto -webkit-focus-ring-color;*/
}

.error {
    background-color: var(--warning-color);
    margin: 1em 0;
}

/*---------Media-queries----------*/


/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        color: #213547;*/
/*        background-color: #ffffff;*/
/*    }*/
/*    a:hover {*/
/*        color: #747bff;*/
/*    }*/
/*    button {*/
/*        background-color: #f9f9f9;*/
/*    }*/
/*}*/


