#category-button-container {
    padding: 1vh 10.5vw 1vh 10.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#category-button-container .nav-button{
    border: 1px solid var(--gray-light);
}

#category-button-container > div >p .nav-button {
    margin-left: 8px;
}

.paintings-container {
    padding: 0 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.painting-image-square {
    position: relative;
    display: inline-block;
    width: calc(25% - 10px);
    margin-bottom: 20px;
}

.painting-square {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow-dark);
    border-radius: 10px;
}

.favorite-heart {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: var(--warning-color);
    transition: color 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .painting-image-square {
        width: calc(50% - 10px);
    }
}
